nav ul {
    padding:0;
    display: flex;
    padding-top: 2.5px;

    }

nav ul li {

    list-style-type:none;
    padding:14px;
    width:100%;                                   /*this is the line that helped me get rid of the white space at the start of my nav */
    }
nav ul li a {
    text-decoration:none;
    }

body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}