nav ul {
    padding:0;
    display: flex;
    justify-content: space-around;
    border:1px solid white;

    }

nav ul li {
    border-left:1px solid white;
    list-style-type:none;
    padding:10px;
    width:100%;                                   /*this is the line that helped me get rid of the white space at the start of my nav */
    }
nav ul li a {
    text-decoration:none;
    }

body {
    padding-top: 100px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}