{% extends 'base.html' %}
{% block title %}About Quake{% endblock %}
{% block content %}
<body>

<div class="container">
  <div class="page-header">
    <h1>About Quake</h1>
  </div>
	
	<br>
	<div class="img-container" style="text-align:center">
		<img src="/static/images/histo.jpg" style="width:400px;height:319px;" alt="prion histology image">
	</div>
	<br>
	<br>
  
  <p class="lead"> Quake is a web-based application for storage, visualization, and analysis of RT-QuIC data developed by Nathan Bollig at the University of Wisconsin - Madison. It was built using MySQL, Flask, Jinja, HTML, CSS, JavaScript, and Bootstrap. </p>
  
  <p class="lead"> We aspire to continue adding essential features to Quake. We want to make it easy and fun to use, and leverage the Python ecosystem to incorporate powerful machine learning analytics. Please sent me your suggestions and ideas!
  You can submit an enhancement request from within the application or send me an email at nbollig (at) wisc (dot) edu.</p>
  
  <p class="lead"> Special thanks to Chitrasen Mohanty and Jojo Cheng for their assistance with v0.1-alpha. 
  Thanks also to Dan Walsh at the USGS National Wildlife Health Center and Prof. Joel Pedersen's group at UW-Madison Soil Sciences for their input.</p>
  
  <p class="lead">Current pre-release: v0.3-alpha</p>
  
  <p class="lead"> &#169 2022 Nathan Bollig </p>
  
  

</div>


</body>
{% endblock %}