<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico"/>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--    main style-->
    <link href="/static/css/main.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		{% if sentry_event_id %}
			<link href="/static/css/500.css" rel="stylesheet">
		{% endif %}


    <script>
    function post(path, params, method='post') {

		  // The rest of this code assumes you are not using a library.
		  // It can be made less wordy if you use one.
		  const form = document.createElement('form');
		  form.method = method;
		  form.action = path;

		  for (const key in params) {
		    if (params.hasOwnProperty(key)) {
		      const hiddenField = document.createElement('input');
		      hiddenField.type = 'hidden';
		      hiddenField.name = key;
		      hiddenField.value = params[key];

		      form.appendChild(hiddenField);
		    }
		  }

		  document.body.appendChild(form);
		  form.submit();
		}
		</script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

		<!-- jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins for datetime -->
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/transition.js"></script>
    <script type="text/javascript" src="/static/js/collapse.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/js/application_main.js"></script>

</head>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Logo -->
        <div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        		</button>
            <a class="navbar-brand" href="/">
            	<span class="glyphicon glyphicon-fire"></span>
            	Quake
            </a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
                <li class="dropdown">
					        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Edit<span class="caret"></span></a>
					        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <li class="nav-item"><a class = "nav-link" href="/newProject">Upload Assay</a></li>
										<li class="nav-item"><a class = "nav-link" href="/editAssay">Edit Assay</a></li>
										<li class="nav-item"><a class = "nav-link" href="/manageSample">Manage Samples</a></li>
										<li class="nav-item"><a class = "nav-link" href="/manageLocation">Manage Locations</a></li>
										<li class="nav-item"><a class = "nav-link" href="/managePlate">Manage Plate Templates</a></li>
					        </ul>
					      </li>
					      <li class="dropdown" id="admin_dropdown">
					        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Admin<span class="caret"></span></a>
					        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="admin_links"></ul>
					      </li>
                <li class="dropdown">
					        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Analysis<span class="caret"></span></a>
					        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <li class="nav-item"><a class = "nav-link" href="/vis">View Assay</a></li>
					        </ul>
					      </li>
                <li class="nav-item text-nowrap">
                    <a href="/enhancementRequest">Submit Enhancement Request</a>
                </li>
            </ul>            
            <ul class="navbar-nav navbar-right ">
            		<li class = "dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if name %} {{ name }}{% else %} {{Guest}} {% endif %}<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<script>
var security_points = {{ sec_pts | tojson | safe}};

// Fill in admin links
var admin_links = document.getElementById('admin_links');

if (security_points.includes(800)) {
	var entry = document.createElement('li');
	entry.classList.add('nav-item');
	entry.insertAdjacentHTML("beforeend", "<a class = 'nav-link' href='/manageUser'>Manage Users</a>");
	admin_links.appendChild(entry);
}

// Determine if admin menu should appear
var admin_menu_condition = Boolean(security_points.includes(800)||(security_points.includes(810))||(security_points.includes(820))||(security_points.includes(830))||(security_points.includes(840))||(security_points.includes(850)));
if (!admin_menu_condition) {
	document.getElementById('admin_dropdown').remove();
}

</script>


{% block content %}{% endblock %}