<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Edit Assay</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico"/>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--    main style-->
    <link href="/static/css/main.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
    function post(path, params, method='post') {

		  // The rest of this code assumes you are not using a library.
		  // It can be made less wordy if you use one.
		  const form = document.createElement('form');
		  form.method = method;
		  form.action = path;

		  for (const key in params) {
		    if (params.hasOwnProperty(key)) {
		      const hiddenField = document.createElement('input');
		      hiddenField.type = 'hidden';
		      hiddenField.name = key;
		      hiddenField.value = params[key];

		      form.appendChild(hiddenField);
		    }
		  }

		  document.body.appendChild(form);
		  form.submit();
		}
		</script>

    
</head>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Logo -->
        <div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        		</button>
            <a class="navbar-brand" href="#">
            	<span class="glyphicon glyphicon-fire"></span>
            	QuakeDB
            </a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
                <li class="dropdown">
					        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Edit<span class="caret"></span></a>
					        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					          <li class="nav-item"><a class = "nav-link" href="/newProject">Upload Assay</a></li>
										<li class="nav-item"><a class = "nav-link" href="/editAssay">Edit Assay</a></li>
										<li class="nav-item"><a class = "nav-link" href="/manageSample">Manage Samples</a></li>
										<li class="nav-item"><a class = "nav-link" href="/manageLocation">Manage Locations</a></li>
										<li class="nav-item"><a class = "nav-link" href="/manageUser">Manage Users</a></li>
										<li class="nav-item"><a class = "nav-link" href="/managePlate">Manage Plate Templates</a></li>
					        </ul>
					      </li>
                <li class="nav-item">
                    <a href="#">Analytics</a>
                </li>
                <li class="nav-item">
                    <a href="#">About</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right ">
                <li>
                    <a href="#">{% if name %} {{ name }}{% else %} {{Guest}} {% endif %}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<body>

<div class="container">
  <div class="page-header">
    <h1>Edit Assay</h1>
    <h5>* Required Fields</h5>
  </div>
  <form method="post" action="/doEditAssay">
  	<div class="col-md-6 col-sm-6">
		  <div class="form-group">
		  	<label for="assay">Assay*</label>
		  	<select class="form-control" id="assay" name="assay_ID" placeholder="" value required><option value="empty" disabled hidden> -- select an option -- </option></select>
		  </div>
		  <div class="form-group">
		  	<label for="sample">Default sample*</label>
		    <select class="form-control" id="sample" name="sample" placeholder="" required><option value="empty" disabled hidden></option></select>
		  </div>
		  <div class="form-group">
		    <label for="location">Location*</label>
		    <select class="form-control" id="location" name="location" placeholder="" required><option value="empty" disabled hidden></option></select>
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">New assay name*</label>
		    <input type="text" class="form-control" id="assay_name" name="assay_name" placeholder="" required>
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Temperature</label>
		    <input type="text" class="form-control" id="temperature" name="temperature" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Shake interval (min)</label>
		    <input type="text" class="form-control" id="shake_interval_min" name="shake_interval_min" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Scan interval (min)</label>
		    <input type="text" class="form-control" id="scan_interval_min" name="scan_interval_min" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Duration (min)</label>
		    <input type="text" class="form-control" id="duration_min" name="duration_min" placeholder="">
		  </div>
		</div>
		<div class="col-md-6 col-sm-6">
		  <div class="form-group">
		  	<label for="assay_name">Salt type</label>
		    <input type="text" class="form-control" id="salt_type" name="salt_type" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Salt concentration</label>
		    <input type="text" class="form-control" id="salt_conc" name="salt_conc" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Substrate type</label>
		    <input type="text" class="form-control" id="substrate_type" name="substrate_type" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Substrate concentration</label>
		    <input type="text" class="form-control" id="substrate_conc" name="substrate_conc" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Surfactant type</label>
		    <input type="text" class="form-control" id="surfact_type" name="surfact_type" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Surfactant concentration</label>
		    <input type="text" class="form-control" id="surfact_conc" name="surfact_conc" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Start date and time</label>
		    <input type="text" class="form-control" id="start_date_time" name="start_date_time" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Other</label>
		    <input type="text" class="form-control" id="other_assay_attr" name="other_assay_attr" placeholder="">
		  </div>
		</div>
		<div class="col-md-12 text-right">
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Update assay</button>
			</div>
		</div>
	</form>
	
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
	{% endwith %}
	
	</div>
	

	<script>
		var assay_selector = document.getElementById('assay');
		assay_selector.addEventListener('change', function() {
		    post('/editAssay', {assay_ID: assay_selector.value});
		});
	
		var assays = {{ assays | tojson | safe}};
		var plates = {{ plates | tojson | safe}};
		var samples = {{ samples | tojson | safe}};
		var locations = {{ locations | tojson | safe}};
		var assay_ID = '{{assay_ID}}'
	
		var assay_selector = document.getElementById("assay");
		for(index in assays) {
		    assay_selector.options[assay_selector.options.length] = new Option(assays[index], index);
		}	
		
		if (assay_ID !== '') {
			assay_selector.value = assay_ID;
			var assay_data = {{ assay_data | tojson | safe}};
		} else {
			assay_selector.value = "empty";
			var assay_data = '';
		}
		
		var sample_selector = document.getElementById("sample");
		for(index in samples) {
		    sample_selector.options[sample_selector.options.length] = new Option(samples[index], index);
		}
		
		if (typeof assay_data['sample_ID'] !== 'undefined') {
			sample_selector.value = assay_data['sample_ID'];
		} else {
			sample_selector.value = "empty";
		}
		
		var location_selector = document.getElementById("location");
		for(index in locations) {
		    location_selector.options[location_selector.options.length] = new Option(locations[index], index);
		}
		
		if (typeof assay_data['loc_ID'] !== 'undefined') {
			location_selector.value = assay_data['loc_ID'];
		} else {
			location_selector.value = "empty";
		}
		
		var assay_name_text = document.getElementById("assay_name");
		if (typeof assay_data['name'] !== 'undefined') {
			assay_name_text.value = assay_data['name'];
		} else {
			assay_name_text.value = "";
		}
		
		var temperature_text = document.getElementById("temperature");
		if (typeof assay_data['temperature'] !== 'undefined') {
			temperature_text.value = assay_data['temperature'];
		} else {
			temperature_text.value = "";
		}
		
		var shake_int_text = document.getElementById("shake_interval_min");
		if (typeof assay_data['shake_interval_min'] !== 'undefined') {
			shake_int_text.value = assay_data['shake_interval_min'];
		} else {
			shake_int_text.value = "";
		}
		
		var scan_int_text = document.getElementById("scan_interval_min");
		if (typeof assay_data['scan_interval_min'] !== 'undefined') {
			scan_int_text.value = assay_data['scan_interval_min'];
		} else {
			scan_int_text.value = "";
		}
		
		var duration_text = document.getElementById("duration_min");
		if (typeof assay_data['duration_min'] !== 'undefined') {
			duration_text.value = assay_data['duration_min'];
		} else {
			duration_text.value = "";
		}
		
		var salt_type_text = document.getElementById("salt_type");
		if (typeof assay_data['salt_type'] !== 'undefined') {
			salt_type_text.value = assay_data['salt_type'];
		} else {
			salt_type_text.value = "";
		}
		
		var salt_conc_text = document.getElementById("salt_conc");
		if (typeof assay_data['salt_conc'] !== 'undefined') {
			salt_conc_text.value = assay_data['salt_conc'];
		} else {
			salt_conc_text.value = "";
		}
		
		var substrate_type_text = document.getElementById("substrate_type");
		if (typeof assay_data['substrate_type'] !== 'undefined') {
			substrate_type_text.value = assay_data['substrate_type'];
		} else {
			substrate_type_text.value = "";
		}
		
		var substrate_conc_text = document.getElementById("substrate_conc");
		if (typeof assay_data['substrate_conc'] !== 'undefined') {
			substrate_conc_text.value = assay_data['substrate_conc'];
		} else {
			substrate_conc_text.value = "";
		}
		
		var surfact_type_text = document.getElementById("surfact_type");
		if (typeof assay_data['surfact_type'] !== 'undefined') {
			surfact_type_text.value = assay_data['surfact_type'];
		} else {
			surfact_type_text.value = "";
		}
		
		var surfact_conc_text = document.getElementById("surfact_conc");
		if (typeof assay_data['surfact_conc'] !== 'undefined') {
			surfact_conc_text.value = assay_data['surfact_conc'];
		} else {
			surfact_conc_text.value = "";
		}
		
		var date_text = document.getElementById("start_date_time");
		if (typeof assay_data['start_date_time'] !== 'undefined') {
			date_text.value = assay_data['start_date_time'];
		} else {
			date_text.value = "";
		}
		
		var other_text = document.getElementById("other_assay_attr");
		if (typeof assay_data['other_assay_attr'] !== 'undefined') {
			other_text.value = assay_data['other_assay_attr'];
		} else {
			other_text.value = "";
		}
		
	</script>


   <!-- jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>

<!--&lt;!&ndash; Content &ndash;&gt;-->
<!--    <div class="container">-->

<!--        &lt;!&ndash; Heading &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4">-->
<!--                <h3 class="page-header">Recent Projects-->
<!--&lt;!&ndash;                    <small>Recent Work</small>&ndash;&gt;-->
<!--                </h3>-->
<!--            </div>-->
<!--            <div class="col-lg-6">-->
<!--                <form class="form-inline d-flex justify-content-center md-form form-sm active-red active-red-2 mt-2">-->
<!--                        <i class="fas fa-search" aria-hidden="true"></i>-->
<!--                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="col-lg-2">-->
<!--                <p><a class="btn btn-primary" href="/newProject">New Project</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.row &ndash;&gt;-->