{% extends 'base.html' %}
{% block title %}Edit Assay{% endblock %}
{% block content %}

<body>

<div class="container">
  <div class="page-header">
    <h1>Edit Assay</h1>
    <h5>* Required Fields</h5>
  </div>
  <form method="post" action="/doEditAssay">
  	<div class="col-md-6 col-sm-6">
		  <div class="form-group">
		  	<label for="assay">Assay*</label>
		  	<select class="form-control" id="assay" name="assay_ID" placeholder="" value required><option value="empty" disabled hidden> -- select an option -- </option></select>
		  </div>
		  <div class="form-group">
		  	<label for="sample">Default sample*</label>
		    <select class="form-control" id="sample" name="sample" placeholder="" required><option value="empty" disabled hidden></option></select>
		  </div>
		  <div class="form-group">
		    <label for="location">Location*</label>
		    <select class="form-control" id="location" name="location" placeholder="" required><option value="empty" disabled hidden></option></select>
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">New assay name*</label>
		    <input type="text" class="form-control" id="assay_name" name="assay_name" placeholder="" required>
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Temperature</label>
		    <input type="text" class="form-control" id="temperature" name="temperature" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Shake interval (min)</label>
		    <input type="text" class="form-control" id="shake_interval_min" name="shake_interval_min" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Scan interval (min)</label>
		    <input type="text" class="form-control" id="scan_interval_min" name="scan_interval_min" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Duration (min)</label>
		    <input type="text" class="form-control" id="duration_min" name="duration_min" placeholder="">
		  </div>
		</div>
		<div class="col-md-6 col-sm-6">
		  <div class="form-group">
		  	<label for="assay_name">Salt type</label>
		    <input type="text" class="form-control" id="salt_type" name="salt_type" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Salt concentration</label>
		    <input type="text" class="form-control" id="salt_conc" name="salt_conc" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Substrate type</label>
		    <input type="text" class="form-control" id="substrate_type" name="substrate_type" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Substrate concentration</label>
		    <input type="text" class="form-control" id="substrate_conc" name="substrate_conc" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Surfactant type</label>
		    <input type="text" class="form-control" id="surfact_type" name="surfact_type" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="assay_name">Surfactant concentration</label>
		    <input type="text" class="form-control" id="surfact_conc" name="surfact_conc" placeholder="">
		  </div>
		  
		  <div class="form-group">
					<label for="assay_name">Start date and time</label>
          <div class='input-group date'>
              <input type='text' class="form-control" style="cursor: pointer" id='start_date_time' name="start_date_time">
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>

	        <script type="text/javascript">
	            $(function () {
	                $('#start_date_time').datetimepicker({format:'YYYY-MM-DD HH:mm:ss'});
	            });
	        </script>
			</div>
		  
		  <div class="form-group">
		  	<label for="assay_name">Other</label>
		    <input type="text" class="form-control" id="other_assay_attr" name="other_assay_attr" placeholder="">
		  </div>
		</div>
		<div class="col-md-12 text-right">
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Update assay</button>
				<button class="btn btn-danger" type="button" id="deleteButton" disabled>Delete assay</button>
				<button class="btn btn-link" type ="button" id="cancelSelection" onclick="document.location.href='/editAssay'" disabled>Cancel selection</button>
			</div>
		</div>
	</form>
	
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
	{% endwith %}
	
	</div>

	<script>
		// Declare assay selector
		var assay_selector = document.getElementById('assay');
		
		// Delete button
		var delete_button = document.getElementById('deleteButton');
		delete_button.onclick = function() {
				post('/deleteAssay', {assay_ID: assay_selector.value});
		};
		
		// Reload when assay selector changes
		assay_selector.addEventListener('change', function() {
		    post('/editAssay', {assay_ID: assay_selector.value});
		});
	
		// Populate selectors and select base on input data
		var assays = {{ assays | tojson | safe}};
		var plates = {{ plates | tojson | safe}};
		var samples = {{ samples | tojson | safe}};
		var locations = {{ locations | tojson | safe}};
		var assay_ID = '{{assay_ID}}'
	
		for(index in assays) {
		    assay_selector.options[assay_selector.options.length] = new Option(assays[index], index);
		}	
		
		if (assay_ID !== '') {
			assay_selector.value = assay_ID;
			var assay_data = {{ assay_data | tojson | safe}};
			document.getElementById("cancelSelection").disabled = false;
			document.getElementById("deleteButton").disabled = false;
		} else {
			assay_selector.value = "empty";
			var assay_data = '';
		}
		
		var sample_selector = document.getElementById("sample");
		for(index in samples) {
		    sample_selector.options[sample_selector.options.length] = new Option(samples[index], index);
		}
		
		if (typeof assay_data['sample_ID'] !== 'undefined') {
			sample_selector.value = assay_data['sample_ID'];
		} else {
			sample_selector.value = "empty";
		}
		
		var location_selector = document.getElementById("location");
		for(index in locations) {
		    location_selector.options[location_selector.options.length] = new Option(locations[index], index);
		}
		
		if (typeof assay_data['loc_ID'] !== 'undefined') {
			location_selector.value = assay_data['loc_ID'];
		} else {
			location_selector.value = "empty";
		}
	
		
		// Populate form fields with available data
		var assay_name_text = document.getElementById("assay_name");
		if (typeof assay_data['name'] !== 'undefined') {
			assay_name_text.value = assay_data['name'];
		} else {
			assay_name_text.value = "";
		}
		
		var temperature_text = document.getElementById("temperature");
		if (typeof assay_data['temperature'] !== 'undefined') {
			temperature_text.value = assay_data['temperature'];
		} else {
			temperature_text.value = "";
		}
		
		var shake_int_text = document.getElementById("shake_interval_min");
		if (typeof assay_data['shake_interval_min'] !== 'undefined') {
			shake_int_text.value = assay_data['shake_interval_min'];
		} else {
			shake_int_text.value = "";
		}
		
		var scan_int_text = document.getElementById("scan_interval_min");
		if (typeof assay_data['scan_interval_min'] !== 'undefined') {
			scan_int_text.value = assay_data['scan_interval_min'];
		} else {
			scan_int_text.value = "";
		}
		
		var duration_text = document.getElementById("duration_min");
		if (typeof assay_data['duration_min'] !== 'undefined') {
			duration_text.value = assay_data['duration_min'];
		} else {
			duration_text.value = "";
		}
		
		var salt_type_text = document.getElementById("salt_type");
		if (typeof assay_data['salt_type'] !== 'undefined') {
			salt_type_text.value = assay_data['salt_type'];
		} else {
			salt_type_text.value = "";
		}
		
		var salt_conc_text = document.getElementById("salt_conc");
		if (typeof assay_data['salt_conc'] !== 'undefined') {
			salt_conc_text.value = assay_data['salt_conc'];
		} else {
			salt_conc_text.value = "";
		}
		
		var substrate_type_text = document.getElementById("substrate_type");
		if (typeof assay_data['substrate_type'] !== 'undefined') {
			substrate_type_text.value = assay_data['substrate_type'];
		} else {
			substrate_type_text.value = "";
		}
		
		var substrate_conc_text = document.getElementById("substrate_conc");
		if (typeof assay_data['substrate_conc'] !== 'undefined') {
			substrate_conc_text.value = assay_data['substrate_conc'];
		} else {
			substrate_conc_text.value = "";
		}
		
		var surfact_type_text = document.getElementById("surfact_type");
		if (typeof assay_data['surfact_type'] !== 'undefined') {
			surfact_type_text.value = assay_data['surfact_type'];
		} else {
			surfact_type_text.value = "";
		}
		
		var surfact_conc_text = document.getElementById("surfact_conc");
		if (typeof assay_data['surfact_conc'] !== 'undefined') {
			surfact_conc_text.value = assay_data['surfact_conc'];
		} else {
			surfact_conc_text.value = "";
		}
		
		var date_text = document.getElementById("start_date_time");
		if (typeof assay_data['start_date_time'] !== 'undefined') {
			date_text.value = assay_data['start_date_time'];
		} else {
			date_text.value = "";
		}
		
		var other_text = document.getElementById("other_assay_attr");
		if (typeof assay_data['other_assay_attr'] !== 'undefined') {
			other_text.value = assay_data['other_assay_attr'];
		} else {
			other_text.value = "";
		}
		
	</script>




</body>


{% endblock %}